.row1 {
  padding-top: 1%;
  width: 100%;
  justify-content: center;
}

.d-block {
    opacity: 0.5; 
}

.texto {
  width: -50%;
}

.card-text, .col3, .formulario {
    font-size: small;
}

.col2 {
  margin: 0%;
  padding: 0%;
}

.col3 {
  margin: 0%;
  padding: 3%;
}
.decoracion {
  text-decoration-style: dotted;
}
.formulario {
  width: 75%;
}

.btn-success {
  background-color: #96c93e; !important
}